SOURCE_DB_NAME = supermarket_source
SOURCE_DB_USER = postgres
SOURCE_DB_PASSWORD = change_me
SOURCE_DB_PORT = 5435

DWH_DB_NAME = supermarket_dwh
DWH_DB_USER = postgres
DWH_DB_PASSWORD = change_me
DWH_DB_PORT = 5436