# variables privadas
.env

# python
__pycache__/
*.pyc
.venv/
venv/

# datos generados
data/
*.parquet

# logs
logs/
airflow/logs/

# volumenes locales
postgres_data/
docker-volumes/

# archivos del sistema 
.vscode/
.DS_Store
Thumbs.db

# Data Lake files
data/bronze/*
data/silver/*
data/gold/*

# Keep directory structure
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep